<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WaterSavingHackathon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>82656C051C5D7CD300B12605</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82656C1C1C5D7CD400B12605</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82656C271C5D7CD400B12605</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
